body {
	position: relative;
	width: 100%;
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	background: #e6e6e6 !important;
}

.clear-fix {
	clear: both;
}

@mixin feed-main-section {
	width: 100%;
	position: relative;
	float: left;
	display: block;
}

.feed-section {
	@include feed-main-section;
	background: #fff;
	padding: 2px;
	margin-bottom: 12px;
	a {
		width: 100%;
		display: block;
	}
	p {
		font-size: 13px;
		padding: 18px 12px 0px;
		color: #000;
	}
}

.feed-status {
	@include feed-main-section;
	img {
		max-width: 100%;
		display: block;
		width: 14px;
	}
	a {
		width: 100%;
		display: block;
		font-size: 10px;
		color: black;
		span {
			padding: 4px;
		}
	}
	ul {
		padding-left: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
}
.survey-list{
    @include feed-main-section;
    background: #fff;
    padding: 18px 16px 4px;
        margin-bottom: 12px;
    span{    text-align: center;
    border-radius: 100%;
    border: 1px solid #ee8401;
    width: 32px;
    height: 32px;
    padding: 2px;}
    h6{
            color: #000;
    font-size: 12px;
    font-weight: normal;
        line-height: 1.3em;
    }
    .media{border-bottom: 1px solid rgba(204, 204, 204, 0.6);
        padding-bottom: 12px;
}
}
.survey-check-list{
        padding: 18px 6px 2px;
    position: relative;
    display: block;
    .checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 24px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
//  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 8px;
  top: 3px;
    width: 5px;
    height: 10px;
    border: solid #4e4e4e;
    border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
    span{border:1px solid #ccc!important;border-radius: 0px !important;}
}